doctype html
html
    head
        title 4:30 train?

        link(rel="stylesheet", href="stylesheets/train.css")
    body
        h1 Hello World

        script(type="text/javascript", src="javascripts/train.js")
