@import url(https://fonts.googleapis.com/css?family=Roboto);
@import url(https://fonts.googleapis.com/css?family=Lora);

body {
    background-color: #1C3B54;
    text-align: center;
    min-width: 500px;
    font-family: "Roboto","Helvetica Neue",Helvetica,Arial,sans-serif;
    color: #19C7BA;
}

h1 {
    font-family: "Lora", serif;
    font-size: 64px;
}

.input-group {
    width: 300px;
    margin: 0 auto;
}

.form-control {
    border-color: #13AB9F;
}

.input-group-addon {
    background-color: #19C7BA;
    border-color: #13AB9F;
    color: #ffffff;
}

.d3-tip {
    color: #ffffff;
}
